<section>
    <section data-markdown id="CheckEnvironments">
      <textarea data-template>
          <code>環境の確認</code>
      </textarea>
    </section>
    <section>
        <div data-if-setwithreload="os"></div>
    </section>
    <section data-if>
        <textarea data-if-conditions>
            {"type": "shortcut", "name": "isWindows"}
        </textarea>
        <div data-if-setwithreload="terminalType"></div>
    </section>
    <section>
        次のステップへ進んでください
    </section>
<!--    <section></section>-->
<!--    <section></section>-->

<!--    <section data-markdown id="#CheckOSUnsupported">-->
<!--      <textarea data-template>-->
<!--          この手順書はあなたの使用しているOSに対応していません。<br>-->
<!--          教員等に相談してください<br>-->
<!--      </textarea>-->
<!--    </section>-->
</section>