<section>
    <section data-markdown id="Defines">
        <textarea data-template>
            ## 用語定義
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            * シェル<br>
              コンピューターと人を繋ぐ基本的なインターフェース。<br>
              シェルが起動すると次の処理を繰り返す<br>
              1. 指示(コマンド)入力するプロンプトを表示する。<br>
              1. 人がプロンプトに指示(コマンド)を入力しEnterを押すとコマンドを実行する。<br>
              1. 指示が完了するまでまつ<br>

              ここではコマンドラインシェルを指すためWindowsではPowerShellやコマンドプロンプト、Unix系のコンピュータにおいてはshやbash,zsh等を指す。<br>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            * プロンプト<br>
              指示(コマンド)が入力可能な状態を指す。<br>
              <code style="background-color: black; color: white">aaXXXXX@computername ~$</code>や<code style="background-color: black; color: white">PS C:¥Users¥aaXXXXX></code><br>
              と一番最後の行に表示されている状態のこと。<br>

            * プロンプトが返る<br>
              シェルの指示(コマンド)が完了し、プロンプトが表示された状態のこと。
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            * ターミナル
              シェルを実行する端末を指す<br>
              WindowsではPowerShellやコマンドプロンプトがターミナルも兼ねるほかWindowsTerminalというターミナル単体として動作するソフトウェアがある。<br>
              Unix系のコンピューターではターミナルという名前で存在することが多い。<br>
        </textarea>
    </section>
</section>