<section data-if>
    <textarea data-if-conditions>{"type": "shortcut", "name": "isWindows"}</textarea>
    <section id="DownloadUbuntu">
        <code>Ubuntuのダウンロード</code>
    </section>
    <section>
        教員・TA・SAからファイルが配布されましたか？<br>
        <a href="#InstallUbuntuFromFile">はい</a>/<a href="#DownloadUbuntuFlowNoInstaller">いいえ</a>
    </section>
    <section id="DownloadUbuntuFlowNoInstaller">
        <a href="#DownloadUbuntuWithMSStore">MicrosoftStoreからインストール</a><br>
        <a href="#DownloadUbuntuWithMSSite">サポートページからインストール</a>
    </section>

    <section id="DownloadUbuntuWithMSStore">
        MicrosoftStoreからインストール
    </section>
    <section data-external-replace="common/openTerminal.html"></section>
    <section data-markdown>
        <textarea data-template>
            出てきたウィンドウのプロンプトに
            ```sh
            winget install Canonical.Ubuntu.2204
            ```
            と入力しエンターを押す<br>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            ウィンドウを閉じる
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            [次のステップへ](#InstallUbuntu)
        </textarea>
    </section>

    <section></section>

    <section data-markdown id="DownloadUbuntuWithMSSite">
        <textarea data-template>
            <a href="https://learn.microsoft.com/ja-jp/windows/wsl/install-manual#downloading-distributions" target="_blank">このリンク</a><br>
            を開く
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img src="assets/downloadTarget.png" />
            <code style="background-color: lightgray">Ubuntu-22.04 LTS</code>をクリックしダウンロードする
        </textarea>
    </section>
    <section data-markdown id="InstallUbuntuFromFile">
        <textarea data-template>
            入手したUbuntuのインストーラーをダブルクリックする<br>
            ※ 名前が<code style="background-color: lightgray">Ubuntu</code>から始まる種類が<code style="background-color: lightgray">APPXファイル</code>のファイルです。<br>
            <img src="assets/openUbuntuInstaller.png" style="height: auto; max-height: 600px"/>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img src="assets/alreadyInstalledUbuntu.png" style="height: auto; max-height: 600px"/><br>
            この画面が表示されますか？<br>
            ※　既にインストールという文字が書いてあるかに注目<br>
            <a href="#alreadyInstalledUbuntu">はい</a>/<a href="#startUbuntuInstall">いいえ</a>
        </textarea>
    </section>

    <section></section>

    <section data-markdown id="startUbuntuInstall">
        <textarea data-template>
            <img src="assets/installUbuntu1.png" style="height: auto; max-height: 600px"/><br>
            <code style="background-color: lightgray">準備ができたら起動</code>の横のチェックをクリックし、チェックを外す<br>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img src="assets/installUbuntu2.png" style="height: auto; max-height: 600px"/><br>
            <code style="background-color: lightgray">インストール</code>をクリックし、インストールを開始する。<br>
        </textarea>
    </section>
    <section data-markdown id="alreadyInstalledUbuntu">
        <textarea data-template>
            <img src="assets/alreadyInstalledUbuntu1.png" style="height: auto; max-height: 600px"/><br>
            ×をクリックしウィンドウを閉じてください<br>
        </textarea>
    </section>
</section>