<section data-if id="EnableWSL">
    <textarea data-if-conditions>{"type": "shortcut", "name": "isWindows"}</textarea>
    <section data-markdown>
        <textarea data-template>
            <code>WSLの有効化</code>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            1. スタートから設定を開く<br />
            <img src="assets/start.png"></img>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            1. アプリをクリックする<br/>
            <img src="assets/clickApp.png" />
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            1. オプション機能をクリックする<br/>
            <img src="assets/clickOptionalFeature.png" />
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            1. 一番下にあるWindowsのその他の機能をクリック<br/>
            <img src="assets/clickWindowsOptionalFeature.png" />
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img width="700px" src="assets/EnableWindowsOptionalFeature1.png" /><br/>
            1. <code style="background-color: lightgray">Linux用Windowsサブシステム</code>にチェックが入っているか確認する<br/>
              入っていなかったらチェックを入れる
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img width="650px" src="assets/EnableWindowsOptionalFeature2.png" /><br/>
            1. 一番下までスクロールし<code style="background-color: lightgray">仮想マシンプラットフォーム</code>にチェックが入っているか確認する<br/>
              入っていなかったらチェックを入れる
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img width="650px" src="assets/EnableWindowsOptionalFeature3.png" /><br/>
            1. <code style="background-color: lightgray">OK</code>をクリックする<br/>
              再起動するか聞かれたら再起動する。
        </textarea>
    </section>
</section>