<section id="FAQ">
    <section data-markdown>
        <textarea data-template>
            ### FAQ
            1. [パッケージをインストールするにはどうすればいいですか？](#FAQInstallPackage)
            1. [SageMath環境を初期化するにはどうすればいいですか？](#FAQRecreateEnv)
            1. [WSLを初期化するにはどうすればいいですか？](#FAQReinstallUbuntu)
        </textarea>
    </section>

    <section id="FAQInstallPackage">
        パッケージをインストールする
    </section>
    <section data-external-replace="common/openVirtualEnv.html"></section>
    <section data-markdown>
        <textarea data-template>
            プロンプトに
            ```sh
            mamba install {package_name}
            ```
            または
            ```sh
            pip install {package_name}
            ```
            と入力しエンターを押す
        </textarea>
    </section>
    <section>おわり</section>
    <section></section>
    <section></section>

    <section id="FAQRecreateEnv" data-markdown>
        <textarea data-template>
            SageMath環境を初期化する
        </textarea>
    </section>
    <section data-external-replace="common/openShell.html"></section>
    <section data-markdown>
        <textarea data-template>
            ```sh
            mamba env remove -n sage9.6
            ```
            と入力しエンターを押す
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            [SageMathのインストール](#installSageMath)へ続く
        </textarea>
    </section>
    <section></section>
    <section></section>

    <section id="FAQReinstallUbuntu" data-markdown>
        <textarea data-template>
            WSLを初期化する
        </textarea>
    </section>
    <section data-external-replace="common/openTerminal.html"></section>
    <section data-markdown>
        <textarea data-template>
            出てきたウィンドウのプロンプトに
            ```sh
            wsl --unregister Ubuntu
            ```
            と入力しエンターを押す
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            [Ubuntuのインストール](#InstallUbuntu)へ続く
        </textarea>
    </section>
    <section></section>
    <section></section>


</section>