<section id="Flow">
    <section data-markdown>
        <textarea data-template>
            ## <code>簡易トラブルシューティング</code><br>
            エラーが出た時にはこの手順の問診に従って問題が発生した場所を特定することができます<br>
            エラーが出た時は次の手順(▼)に進む<br>
        </textarea>
    </section>
    <section id="FlowStart">
        <code>WSLを有効化しましたか？</code><br>
        <a href="#/FlowUpdateWSL">はい</a>/<a href="#/EnableWSL">いいえ</a>
    </section>
    <section id="FlowUpdateWSL">
        <code>WSLを更新しましたか？</code><br>
        <a href="#/FlowDownloadUbuntu">はい</a>/<a href="#/UpdateWSL">いいえ</a>
    </section>
    <section id="FlowDownloadUbuntu">
        <code>Ubuntuをダウンロードしたまたは教員等から配布されましましたか？</code><br>
        <a href="#/FlowInstallUbuntu">はい</a>/<a href="#/DownloadUbuntu">いいえ</a>
    </section>
    <section id="FlowInstallUbuntu">
        <code>Ubuntuをインストールしましたか？</code><br>
        <a href="#/FlowSetDefaultUbuntu">はい</a>/<a href="#/installUbuntu">いいえ</a>
    </section>
    <section id="FlowSetDefaultUbuntu">
        <code>Ubuntuが既定のOSになっているか確認しましたか？</code><br>
        <a href="#/FlowInstallAnaconda">はい</a>/<a href="#/setDefaultUbuntu">いいえ</a>
    </section>
    <section id="FlowInstallAnaconda">
        <code>Anacondaをインストールしましたか？</code><br>
        <a href="#/FlowInstallSageMath">はい</a>/<a href="#/installAnaconda">いいえ</a>
    </section>
    <section id="FlowInstallSageMath">
        <code>SageMathをインストールしましたか？</code><br>
        <a href="#/FlowInstallPackage">はい</a>/<a href="#/installSageMath">いいえ</a>
    </section>
    <section id="FlowInstallPackage">
        <code>パッケージをインストールしましたか？</code><br>
        <a href="#/FlowStartSageMathShell">はい</a>/<a href="#/installPackage">いいえ</a>
    </section>
    <section id="FlowStartSageMathShell">
        <code>SageMath Shellを起動できましたか？</code><br>
        <a href="#useSageMathShell">SageMath Shellを起動する方法</a><br/>
        <a href="#/FlowStartJupyterNotebook">はい</a>/<a href="#/FlowFail">いいえ</a>
    </section>
    <section id="FlowStartJupyterNotebook">
        <code>JupyterNotebookを起動できましたか？</code><br>
        <a href="#useJupyterNotebook">JupyterNotebookを起動する方法</a><br/>
        <a href="#/FlowStartJupyterNotebookExec">はい</a>/<a href="#/FlowFail">いいえ</a>
    </section>
    <section id="FlowStartJupyterNotebookExec">
        <code>JupyterNotebookでSageMathを使用できましたか？</code><br>
        <a href="#/FlowStartJupyterLab">はい</a>/<a href="#/FlowFail">いいえ</a>
    </section>
    <section id="FlowStartJupyterLab">
        <code>JupyterLabを起動できましたか？</code><br>
        <a href="#useJupyterLab">JupyterLabを起動する方法</a><br/>
        <a href="#/FlowStartJupyterLabExec">はい</a>/<a href="#/FlowFail">いいえ</a>
    </section>
    <section id="FlowStartJupyterLabExec">
        <code>JupyterLabでSageMathを使用できましたか？</code><br>
        <a href="#useJupyterNotebook">JupyterNotebookを起動する方法</a><br/>
        <a href="#/FlowFinish">はい</a>/<a href="#/FlowFail">いいえ</a>
    </section>

    <section id="FlowFinish">
        <code>問題が発見できませんでした。</code><br>
        問題があると考えられる場合は教員等に質問してください。
    </section>
    <section></section>
    <section id="FlowFail">
        <code>あなたの環境には問題があります。</code><br>
        教員等を呼んでください。
    </section>
</section>