<section id="Index">
    <section style="font-size: 0.7em">
        <h4>目次</h4>
        <ul>
            <li><a href="#Usage">手順書の使い方</a></li>
            <li><a href="#CheckEnvironments">環境の確認</a></li>
            <li><a href="#Index">目次</a></li>
            <li><a href="#Defines">用語定義</a></li>
            <li><a href="#Repository">手順書の管理について</a></li>
        </ul>
        <h5>インストールのためのステップ</h5>

        <ol>
            <li data-if>
                <textarea data-if-conditions>{"type": "shortcut", "name": "isWindows"}</textarea>
                <a href="#EnableWSL">WSLの有効化</a>
            </li>
            <li data-if>
                <textarea data-if-conditions>{"type": "simple", "conditions": {"os": "windows11"}}</textarea>
                <a href="#UpdateWSL">WSLのアップデート</a>
            </li>
            <div data-if>
                <textarea data-if-conditions>{"type": "shortcut", "name": "isWindows"}</textarea>
                <li><a href="#DownloadUbuntu">Ubuntuのダウンロード</a></li>
                <li><a href="#InstallUbuntu">Ubuntuのインストール</a></li>
                <li><a href="#setDefaultUbuntu">WSLの既定OSの変更</a></li>
            </div>
            <li><a href="#InstallAnaconda">Anacondaのインストール</a></li>
            <li><a href="#InstallSageMath">SageMathのインストール</a></li>
            <li><a href="#InstallPackage">パッケージのインストール</a></li>
            <li><a href="#StartSageMath">SageMathの起動</a></li>
        </ol>
        <h5>付録</h5>
        <ul>
            <li><a href="#FAQ">FAQ</a></li>
            <li><a href="#Flow">簡易トラブルシューティング</a></li>
        </ul>
    </section>
<!--    <section data-markdown>-->
<!--        <textarea data-template>-->
<!--            * [手順書の使い方](#Usage)<br>-->
<!--            * [環境の確認](#CheckEnvironments)<br>-->
<!--            * [目次](#Index)<br>-->
<!--            * [用語定義](#Defines)<br>-->
<!--            * [手順書の管理について](#Repository)<br>-->
<!--            ##### インストールのためのステップ-->
<!--            1. [WSLの有効化](#EnableWSL)-->
<!--            1. [WSLのアップデート](#UpdateWSL)-->
<!--            1. [Ubuntuのダウンロード](#DownloadUbuntu)-->
<!--            1. [Ubuntuのインストール](#InstallUbuntu)-->
<!--            1. [WSLの既定OSの変更](#setDefaultUbuntu)-->
<!--            1. [Anacondaのインストール](#InstallAnaconda)-->
<!--            1. [SageMathのインストール](#InstallSageMath)-->
<!--            1. [パッケージのインストール](#InstallPackage)-->
<!--            1. [SageMathの起動](#StartSageMath)-->
<!--            ##### 付録-->
<!--            * [FAQ](#FAQ)-->
<!--            * [簡易トラブルシューティング](#Flow)<br>-->
<!--        </textarea>-->
<!--    </section>-->
</section>