<section>
    <section id="InstallPackage">
        <code>パッケージのインストール</code>
    </section>
    <section data-external-replace="common/openVirtualEnv.html"></section>
    <section data-markdown>
        <textarea data-template>
            pandas,scikit-learn,seaborn,jupyterlabをインストールする。<br/>
            プロンプトに
            ```sh
            mamba install pandas scikit-learn seaborn jupyterlab
            ```
            と入力し、エンターを押す
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img src="assets/SageMathInstallConfirm.png" /><br>
            このような画面が出てきたらYを入力しエンターを押す
        </textarea>

    </section>
    <section>
        ウィンドウを閉じる
    </section>
</section>