<section data-if>
    <textarea data-if-conditions>{"type": "shortcut", "name": "isWindows"}</textarea>
    <section id="InstallUbuntu">
        <code>Ubuntuのインストール</code>
    </section>
    <section data-external-replace="common/openTerminal.html"></section>
    <section data-markdown>
        <textarea data-template>
            出てきたウィンドウのプロンプトに
            ```sh
            ubuntu.exe --ui=none
            ```
            と入力しエンターを押す
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img src="assets/ubuntuExtracting.png" /><br>
            のような画面が出てきましたか？<br>
            <a href="#installSettingStart">はい</a>/<a href="#installNoSettingShow">いいえ</a>
        </textarea>
    </section>

    <section id="installNoSettingShow">
        <code style="background-color: black; color: white">aaXXXXX@computername ~$</code><br>
        のように表示されていますか？<br>
        ※ 最後の文字が<code style="background-color: lightgray">$</code>なことに注目<br>
          最後の文字が<code style="background-color: lightgray">#</code>ならいいえをクリック<br>
        <a href="#installUbuntuEnd">はい</a>/<a href="#ASKTeacherInstallUbuntu">いいえ</a>
    </section>
    <section id="ASKTeacherInstallUbuntu">
        教員等に相談してください
    </section>

    <section data-markdown id="installSettingStart">
        <textarea data-template>
            <img src="assets/ubuntuExtracting.png" /><br>
            のような画面が出てくるので次のスライド画面に切り替わるまで待つ
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img src="assets/ubuntuInstallSetting1.png" /><br>
            ユーザー名を入力しエンターを押す<br>
            ※ usernameは英字は小文字のみ使用可能です。
<!--                    上下キーを使い緑のカーソルを<code style="background-color: lightgray">English</code>に合わせてエンターキーを押してください-->
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img src="assets/ubuntuInstallSetting2.png" /><br>
<!--                    上下キーを使い緑のカーソルを移動し、usernameおよびpasswordを設定してください<br>-->
<!--                    ※ usernameは英字は小文字のみ使用可能です。-->
            パスワードを入力しエンターを押す<br>
            ※ 入力した文字は表示されませんが入力されています。<br/>
            ※ 入力した文字を忘れた時はBackSpace(macの場合はDelete)を入力したであろう文字数以上押せば最初からパスワードを入力しなおせます<br>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <img src="assets/ubuntuInstallSetting3.png" /><br>
            さっきと同じパスワードを入力しエンターを押す<br>
            ※ 入力した文字は表示されませんが入力されています。
<!--                    上下キーを使い緑のカーソルを<code style="background-color: lightgray">Done</code>に合わせてエンターキーを押してください-->
        </textarea>
    </section>
<!--            <section data-markdown>-->
<!--                <textarea data-template>-->
<!--                    <img src="assets/ubuntuInstallSetting4.png" /><br>-->
<!--                    上下キーを使い緑のカーソルを<code style="background-color: lightgray">Reboot Now</code>に合わせてエンターキーを押してください-->
<!--                </textarea>-->
<!--            </section>-->
    <section data-markdown id="installUbuntuEnd">
        <textarea data-template>
            出てきたウィンドウを閉じる
        </textarea>
    </section>
</section>