<section>
    <section id="InstallSageMath">
        <code>SageMathのインストール</code>
    </section>
    <section data-external-replace="common/openShell.html"></section>
    <section data-markdown>
        <textarea data-template>
            仮想環境の作成とSageMathのインストール。<br/>
            プロンプトに
            ```sh
            mamba create -n sage{{SAGE_VERSION}} sage=={{SAGE_VERSION}}
            ```
            と入力しエンターを押す
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template="">
            <img src="assets/SageMathInstallConfirm.png" /><br>
            このような画面が出てきたらYを入力しエンターを押す
        </textarea>
    </section>
    <section>
        ウィンドウを閉じる
    </section>
</section>
