<section id="InstallAnaconda">
    <section>
        <code>Anacondaのインストール</code>
    </section>
    <section data-external-replace="common/openShell.html"></section>

    <section data-markdown>
        <textarea data-template="">
            インストーラーをダウンロードする。<br/>
            プロンプトに
            ```sh
            curl -L -O https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-$(uname)-$(uname -m).sh
            ```
            と入力し、エンターを押す
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            インストーラーの実行する。<br/>
            プロンプトに
            ```sh
            bash Mambaforge-$(uname)-$(uname -m).sh -b
            ```
            と入力し、エンターを押す
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            Anacondaを一時的に使用可能にする。<br/>
            プロンプトに
            ```sh
            eval "$($HOME/mambaforge/bin/conda shell.$(basename $SHELL) hook)"
            ```
            と入力しエンターを押す
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            環境変数を設定する。<br/>
            プロンプトに
            ```sh
            mamba init
            ````
            と入力しエンターを押す
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            シェルを再読み込みする。<br/>
            プロンプトに
            ```sh
            exec $SHELL -l
            ```
            と入力しエンターを押す。
        </textarea>
    </section>
    <section>
        ウィンドウを閉じる
    </section>
</section>