<section>
    <section id="StartSageMath"><code>SageMathの起動</code></section>
    <section data-markdown>
        <textarea data-template>
            * <a href="#useSageMathShell">SageMath Shellを使う</a><br>
              パッケージをインストールする時などに使います。<br>
            * <a href="#useJupyterNotebook">Jupyter Notebookを使う</a><br>
            * <a href="#useJupyterLab">Jupyter Labを使う</a><br>
              JupyterLabはJupyterNotebookの後継で新しいUIを持ちますが機能は同等です。<br>
              フォルダの作成やリネームはJupyterLabのほうが直感的に操作しやすいです。
        </textarea>
    </section>
    <section></section>

    <section id="useSageMathShell" data-markdown>
        SageMath Shellを使う
    </section>

    <section data-external-replace="common/openVirtualEnv.html"></section>

    <section data-markdown>
        <textarea data-template>
            SageMath Shellを起動する。<br/>
            プロンプトに
            ```sh
            sage -sh
            ```
            と入力し、エンターを押す
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            ウィンドウを閉じて終了する。
        </textarea>
    </section>
    <section></section>

    <section id="useJupyterNotebook" data-markdown>
        JupyterNotebookを使う
    </section>
    <section data-external-replace="common/openVirtualEnv.html"></section>
    <section data-markdown>
        <textarea data-template>
            JupyterNotebookを起動する。<br/>
            プロンプトに
            ```sh
            jupyter notebook --no-browser
            ```
            と入力し、エンターを押す
        </textarea>
    </section>
    <section data-external-replace="common/openUrlFromShell.html"></section>
    <section data-markdown>
        <textarea data-template>
            ターミナルウィンドウを閉じると終了できる。
        </textarea>
    </section>
    <section></section>

    <section id="useJupyterLab" data-markdown>
        <textarea data-template>
            JupyterLabを使う
        </textarea>
    </section>
    <section data-external-replace="common/openVirtualEnv.html"></section>
    <section data-markdown>
        <textarea data-template>
            JupyterLabを起動する。<br/>
            プロンプトに
            ```sh
            jupyter lab --no-browser
            ```
            と入力し、エンターを押す
        </textarea>
    </section>
    <section data-external-replace="common/openUrlFromShell.html"></section>
    <section data-markdown>
        <textarea data-template>
            ターミナルウィンドウを閉じると終了できる。
        </textarea>
    </section>
</section>