<section data-if id="UpdateWSL">
    <textarea data-if-conditions>{"type": "simple", "conditions": {"os": "windows11"}}</textarea>
    <section data-markdown>
        <textarea data-template>
            <code>WSLの更新</code>
        </textarea>
    </section>
    <section data-external-replace="common/openTerminalAdmin.html"></section>
    <section data-markdown>
        <textarea data-template>
            出てきたウィンドウのプロンプトに
            ```sh
            wsl --update
            ```
            と入力しエンターを押す
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            ウィンドウを閉じる
        </textarea>
    </section>
</section>